{% extends 'layout.html.twig' %}

{% block title %}Page contact{% endblock %}

{% block body %}
    <h1>Contact</h1>

    <ul>
        <li>
            Téléphone :
            <a href="tel:{{ tel }}">
                {{ tel }}
            </a>
        </li>
        <li>
            Email :
            <a href="mailto:{{ email }}">
                {{ email }}
            </a>
        </li>
    </ul>
{% endblock %}

