body {
    background: linear-gradient(#000000, #132135);
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    color: #EEE;
    font-family: 'Roboto', serif;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 5px;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #BC956B;
}

img {
    max-width: 100%;
}

h1, h2, h3, h4 {
    margin-top: 0;
}

body > .container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header img {
    height: 70px;
}

main {
    flex: 1;
}

nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
    padding-left: 0;
}

.series-list {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
}

.serie-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
}

.serie-details-infos > div {
    margin-bottom: 1rem;
}

label {
    display: block;
}

.form-row {
    margin-bottom: 1rem;
}

.flash {
    padding: 1rem;
    color: black;
}

.flash-success {
    background-color: lightgreen;
}

.flash-error {
    background-color: indianred;
}

@media screen and (min-width: 700px) {
    .serie-details {
        grid-template-columns: 300px 1fr;
    }
}