<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Titre par défaut{% endblock %}</title>
    <link rel="icon" href="{{ asset('images/icon.png') }}">
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
</head>
<body>

    <div class="container">

        <header>
            <img src="{{ asset('images/logo.svg') }}" alt="Series">
            {% include 'inc/_nav.html.twig' %}
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <div class="container">
                <section>
                    <h3>Navigation</h3>
                    {% include 'inc/_nav.html.twig' %}
                </section>
            </div>
        </footer>

    </div>

</body>
</html>