{% extends "layout.html.twig" %}

{% block title %}Une erreur s'est produite{% endblock %}

{% block body %}

    <h1>Une erreur s'est produite</h1>

    Voulez-vous retourner vers la page d'<a href="{{ path('homepage') }}">accueil</a> ?

{% endblock %}

