{% extends "layout.html.twig" %}

{% block title %}Page introuvable !{% endblock %}

{% block body %}

    <h1>Page introuvable !</h1>

    Voulez-vous retourner vers la page d'<a href="{{ path('homepage') }}">accueil</a> ?

{% endblock %}

