<nav>
    <ul>
        <li>
            <a href="{{ path('homepage') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('series_list') }}">Séries</a>
        </li>
        <li>
            <a href="{{ path('contact') }}">Contact</a>
        </li>
    </ul>
</nav>